@media screen and (max-width:700px){ /*Usado para quando a tela tiver até 700px*/
    header .container{
    display: flex;
    flex-direction: column;  /*Ficará em coluna quando tiver até 700px*/
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

}

@media screen and (min-width:1000px){ /*Quando a tela tiver no mínimo 1000px*/
    .descricao{
        width: 50%;
    }
}